:root {
    --primary-white-color: rgba(255, 255, 255, 1);
    --primary-black-color: rgba(5, 5, 5, 1);
    --text-white-color: rgba(248, 248, 248, 1);
    --primary-dark-color: rgba(30, 30, 30, 1); /* for dark theme / karanlık tema */
    --primary-green-color: rgba(155, 181, 55, 1);
}
