/* Fonts - Projede kullanılacak fontlar */

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-Regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-SemiBold.woff2);
    font-weight: 600;
}

/* Primary Colors - Projede kullanılacak ana renkler */

:root {
    --primary-white-color: rgba(255, 255, 255, 1);
    --primary-black-color: rgba(5, 5, 5, 1);
    --text-white-color: rgba(248, 248, 248, 1);
    --primary-dark-color: rgba(30, 30, 30, 1); /* for dark theme / karanlık tema */
    --primary-green-color: rgba(155, 181, 55, 1);
}

/* Common Styles - Projede kullanılacak genel stiller */

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
}