/* Fonts - Projede kullanılacak fontlar */

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-Regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter-SemiBold.woff2);
    font-weight: 600;
}

/* Primary Colors - Projede kullanılacak ana renkler */

:root {
    --primary-white-color: rgba(255, 255, 255, 1);
    --primary-black-color: rgba(5, 5, 5, 1);
    --text-white-color: rgba(248, 248, 248, 1);
    --primary-dark-color: rgba(30, 30, 30, 1); /* for dark theme / karanlık tema */
    --primary-green-color: rgba(155, 181, 55, 1);
}

/* Common Styles - Projede kullanılacak genel stiller */

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

svg {
    fill: currentColor;
    stroke: currentColor;
}

button {
    cursor: pointer;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;;
    }

    .main-content-wrapper {
        flex-wrap: wrap;
        max-height: 1423px;
        align-items: center;
        column-gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .main-content-wrapper{
        column-gap: 64px;
        max-height: 1244px;
    }
}



