@font-face {
  font-family: Inter;
  src: url("Inter-Regular.65133734.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url("Inter-Medium.0faa8e5e.woff2");
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url("Inter-SemiBold.b484db7e.woff2");
  font-weight: 600;
}

:root {
  --primary-white-color: #fff;
  --primary-black-color: #050505;
  --text-white-color: #f8f8f8;
  --primary-dark-color: #1e1e1e;
  --primary-green-color: #9bb537;
}

body {
  background-color: var(--background);
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

button {
  cursor: pointer;
}

.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-content-wrapper {
  flex-direction: column;
  display: flex;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .main-content-wrapper {
    flex-wrap: wrap;
    align-items: center;
    column-gap: 32px;
    max-height: 1423px;
  }
}

@media screen and (width >= 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .main-content-wrapper {
    column-gap: 64px;
    max-height: 1244px;
  }
}

.search-wrapper {
  display: inline-block;
  position: relative;
}

.search-label {
  color: var(--primary-color-05);
  word-wrap: break-word;
  margin-bottom: 8px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: block;
}

.search-input-wrapper {
  align-items: center;
  display: flex;
  position: relative;
}

.search-icon {
  color: var(--primary-color-05);
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.search-icon img {
  width: 18px;
  height: 18px;
}

.search-input, .list-time.list-filter, .list-area.list-filter, .list-ingred.list-filter {
  color: var(--primary-color-02);
  background-color: inherit;
  border-color: var(--primary-color-02);
}

.search-input {
  width: 295px;
  height: auto;
  color: var(--primary-color-02);
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color-02);
  background-color: inherit;
  border-radius: 15px;
  outline: none;
  padding: 14px 18px 14px 48px;
  font-size: 16px;
  font-weight: 500;
}

.search-section {
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 32px;
  display: flex;
}

.list-filter {
  color: #05050580;
  box-sizing: border-box;
  border: 1px solid #05050533;
  border-radius: 15px;
  outline: none;
  height: 46px;
  padding-left: 18px;
  font-size: 16px;
  font-weight: 500;
}

.list-time {
  width: 160px;
}

.list-area {
  width: 161px;
}

.list-ingred {
  width: 188px;
}

.select select {
  color: #fff;
}

.input-section {
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  display: flex;
}

@media screen and (width <= 767px) {
  .search-input {
    width: 335px;
  }

  .search-res-container {
    width: 335px;
    margin: 0 auto;
  }

  .image-container {
    margin-bottom: 40px;
    display: block;
  }
}

@media screen and (width >= 768px) {
  .search-res-container {
    width: 496px;
    min-height: 985px;
  }

  .image-container {
    min-height: 844px;
    margin-bottom: 64px;
  }

  .search-section {
    gap: 18px;
  }

  .list-time {
    width: 125px;
  }

  .list-area {
    width: 141px;
  }
}

@media screen and (width >= 1280px) {
  .search-res-container {
    width: 782px;
    min-height: 728px;
  }

  .image-container {
    row-gap: 32px;
    min-height: 908px;
  }

  .search-section {
    gap: 16px;
  }

  .search-input {
    width: 278px;
  }
}

.spinner-icon {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--accent-color);
  border-radius: 50%;
  align-self: flex-end;
  width: 40px;
  height: 40px;
  animation: 3s linear infinite spin;
  display: inline-block;
}

.search-section {
  position: relative;
}

.search-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.svg-icon-clean-button {
  color: var(--accent-color);
}

.clear-button {
  color: var(--primary-color-05);
  background: none;
  border: none;
  align-items: center;
  margin-bottom: 14px;
  margin-left: auto;
  font-size: 12px;
  display: flex;
}

.clear-button:hover {
  text-shadow: 0 4px 4px #00000040;
}

.svg-button-click {
  margin-right: 4px;
}

@media screen and (width <= 767px) {
  .input-section {
    gap: 14px;
    margin-bottom: 24px;
  }
}

@media screen and (width >= 1280px) {
  .search-res-container {
    position: relative;
  }

  #spinner {
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-25%, -50%);
  }
}

.search-icon.active {
  fill: var(--accent-color);
}

.cancel-button-input {
  cursor: pointer;
  height: 20px;
  display: none;
  position: absolute;
  right: 18px;
}

option {
  background-color: var(--option-color);
}

.categories-container {
  height: 198px;
  overflow: hidden;
}

.container-allcategories {
  width: 326px;
  margin-bottom: 40px;
}

.button-category {
  width: 100%;
  color: var(--primary-color-03);
  background-color: inherit;
  cursor: pointer;
  text-align: start;
  border: none;
  column-gap: 18px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  display: block;
}

.button-category:not(:first-child) {
  padding-top: 9px;
}

.button-category:not(:last-child) {
  padding-bottom: 9px;
}

button.isUse {
  color: var(--accent-color);
}

.button-Allcategories:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: var(--accent-color);
}

.button-Allcategories {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border-color: inherit;
  border-style: solid;
  border-width: 1px;
  border: 1px solid var(--primary-color-02);
  border-radius: 15px;
  margin-bottom: 48px;
  padding: 14px 28px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (width <= 767px) {
  .container-allcategories {
    margin: 0 auto 40px;
  }
}

@media screen and (width >= 768px) {
  .categories-container {
    height: 416px;
  }

  .button-Allcategories {
    margin-bottom: 30px;
  }

  .container-allcategories {
    width: 176px;
    margin-top: 26px;
    margin-bottom: 64px;
  }
}

@media screen and (width >= 1280px) {
  .categories-container {
    height: 416px;
  }

  .container-allcategories {
    width: 235px;
  }
}

.button-Allcategories.isUse {
  color: var(--primary-color-05);
}

.button-Allcategories.isUse:hover {
  color: var(--primary-white-color);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0505051a;
}

::-webkit-scrollbar-thumb {
  background: #0505051a;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-button {
  cursor: pointer;
  color: #9bb537;
  z-index: 10000;
  background-color: #9bb537;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  transition: transform .3s;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-button:hover, .scroll-button:focus {
  background-color: #9bb537;
  transform: scale(.95);
  box-shadow: 0 10px 20px 5px #00000080;
}

.scroll-button:before, .scroll-button:after {
  content: "";
  background-color: #fff;
  width: 20px;
  height: 3px;
  position: absolute;
}

.scroll-button:before {
  top: 45%;
  right: 16%;
  transform: rotate(230deg);
}

.scroll-button:after {
  top: 45%;
  left: 20%;
  transform: rotate(-230deg);
}

.scroll-button:focus {
  outline: none;
}

.popular-recipes-container {
  width: 100%;
  padding-left: 0;
  display: block;
}

.popular-recipes-title {
  text-transform: uppercase;
  text-align: left;
  color: var(--primary-color);
  margin-bottom: 40px;
  font-size: 18px;
}

.popular-recipes-list {
  padding-left: 0;
}

.popular-recipes-item {
  gap: 16px;
  margin-bottom: 24px;
  display: flex;
}

.popular-recipes-list .popular-recipes-item {
  cursor: pointer;
}

.popular-recipes-image {
  border-radius: 8px;
  width: 64px;
  height: 64px;
}

.popular-recipes-item-title {
  text-transform: uppercase;
  color: var(--primary-color);
  white-space: normal;
  word-break: break-word;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
}

.popular-recipes-item-description {
  color: var(--primary-color-08);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  line-height: 1.4;
  display: -webkit-box;
  overflow: hidden;
}

@media screen and (width <= 767px) {
  .popular-recipes-container {
    order: 3;
    width: 335px;
    margin: 0 auto;
  }
}

@media screen and (width >= 768px) {
  .popular-recipes-container {
    width: 176px;
  }

  .popular-recipes-title {
    margin-bottom: 32px;
    font-size: 18px;
  }

  .popular-recipes-item {
    margin-bottom: 16px;
  }

  .popular-recipes-image {
    width: 48px;
    height: 48px;
  }

  .popular-recipes-item-description {
    -webkit-line-clamp: 3;
    font-size: 10px;
  }
}

@media screen and (width >= 1110px) {
  .popular-recipes-image {
    width: 64px;
    height: 64px;
  }
}

@media screen and (width >= 1280px) {
  .popular-recipes-container {
    width: 235px;
  }

  .popular-recipes-title {
    margin-bottom: 40px;
    font-size: 24px;
  }

  .popular-recipes-item {
    margin-bottom: 32px;
  }
}

.hero_fav {
  margin: 0 auto;
}

@media screen and (width <= 767px) {
  .fav_container {
    padding-top: 52px;
  }

  .hero_fav {
    background: url("card335px-mob@1x.d7ee14f3.webp") 0 0 / cover;
    width: 335px;
    height: 516px;
    margin: 0 auto;
  }
}

@media screen and (width <= 767px) and (max-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio <= 2) and (resolution <= 192dpi) and (resolution <= 2x) {
  .hero_fav {
    background: url("card670px-mob@2x.ebe813fe.webp") 0 0 / cover;
    width: 335px;
    height: 516px;
    margin: 0 auto;
  }
}

@media screen and (width >= 768px) {
  .fav_container {
    padding-top: 50px;
  }

  .hero_fav {
    background: url("card704px-tab@1x.60c19c66.webp") 0 0 / cover;
    width: 704px;
    height: 356px;
  }
}

@media screen and (width >= 768px) and (min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio >= 2) and (resolution >= 192dpi) and (resolution >= 2x) {
  .hero_fav {
    background: url("card1408px-tab@2x.6e21db3d.webp") 0 0 / cover;
    width: 704px;
    height: 356px;
  }
}

@media screen and (width >= 1280px) {
  .fav_container {
    padding-top: 40px;
  }

  .hero_fav {
    background: url("card1080px-desk@1x.5ae9fbcf.webp") 0 0 / cover;
    width: 1080px;
    height: 356px;
  }
}

@media screen and (width >= 1280px) and (min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio >= 2) and (resolution >= 192dpi) and (resolution >= 2x) {
  .hero_fav {
    background: url("card2160px-desk@2x.c3f9a1cf.webp") 0 0 / cover;
    width: 1080px;
    height: 356px;
  }
}

@media screen and (width >= 1280px) {
  .fav-hero {
    background: url("card1080px-desk@1x.5ae9fbcf.webp") 0 0 / cover;
    width: 1080px;
    height: 356px;
  }
}

@media screen and (width >= 1280px) and (min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio >= 2) and (resolution >= 192dpi) and (resolution >= 2x) {
  .fav-hero {
    background: url("card2160px-desk@2x.c3f9a1cf.webp") 0 0 / cover;
    width: 1080px;
    height: 356px;
  }
}

.favorite-list {
  margin-top: 24px;
  display: block;
}

.favorite-list .recipe-item {
  width: 335px;
  height: 335px;
  margin-bottom: 24px;
}

.empty-storage {
  text-align: center;
  color: var(--primary-color);
  margin-top: 164px;
  font-size: 14px;
  display: block;
}

.cook-hat {
  stroke: none;
  width: 68px;
  height: 58px;
  margin-bottom: 24px;
}

.favorite-categories {
  gap: 12px;
  margin-top: 64px;
  margin-bottom: 24px;
  display: flex;
  overflow-y: hidden;
}

.favorite-categories::-webkit-scrollbar {
  display: none;
}

.button-fav {
  max-width: 100%;
  height: 46px;
  color: var(--primary-color-03);
  background-color: var(--background);
  border: 1px solid var(--primary-color-02);
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  padding: 14px 18px;
  font-size: 14px;
}

.dark .button-fav {
  color: #ffffff80;
  background-color: inherit;
  border-color: #ffffff80;
}

.button-fav.onActive, .all-btn.onActive {
  color: var(--accent-color);
  border-color: var(--accent-color);
  flex-shrink: 0;
}

.button-fav:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: var(--accent-color);
}

.list {
  list-style: none;
}

@media screen and (width >= 768px) {
  .favorite-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 64px;
    display: flex;
  }

  .favorite-list .recipe-item {
    width: 224px;
    height: 244px;
  }

  .favorite-list .button.item-rec {
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    margin-left: 7px;
    display: flex;
  }

  .cook-hat {
    width: 97px;
    height: 83px;
    margin-bottom: 32px;
  }

  .empty-storage {
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    display: block;
  }

  .empty-storage-txt {
    width: 481px;
    color: var(--primary-color);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .button-fav {
    max-width: 100%;
    height: 46px;
    color: var(--primary-color-03);
    background-color: var(--background);
    border: 1px solid var(--primary-color-02);
    cursor: pointer;
    border-radius: 15px;
    outline: none;
    padding: 14px 18px;
    font-size: 14px;
  }
}

@media screen and (width >= 1280px) {
  .favorite-list {
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
    display: grid;
  }

  .favorite-list .recipe-item {
    width: 258px;
    height: 287px;
  }

  .favorite-list .button.item-rec {
    margin-left: auto;
  }
}

.is-hidden {
  display: none;
}

:root[data-theme="light"] {
  --primary-color: #050505;
  --primary-color-08: #050505cc;
  --primary-color-05: #05050580;
  --primary-color-03: #0505054d;
  --primary-color-02: #05050533;
  --primary-color-01: #0505051a;
  --primary-rating: #f8f8f8;
  --primary-modal-rating: #05050580;
  --primary-stars: #f8f8f81a;
  --primary-CardTitle-Description: #f8f8f8;
  --primary-raiting: #fff;
  --background-mob-menu: #9bb537;
  --background-menu: #fff;
  --background: #f8f8f8;
  --border-pag: #9bb537;
  --option-color: #fff;
}

:root[data-theme="dark"] {
  --primary-color: #fff;
  --primary-color-08: #fffc;
  --primary-color-05: #ffffff80;
  --primary-color-03: #ffffff4d;
  --primary-color-02: #fff3;
  --primary-color-01: #ffffff1a;
  --primary-rating: #ffffff80;
  --primary-modal-rating: #ffffff80;
  --primary--stars: #ffffff1a;
  --primary-CardTitle-Description: #fffc;
  --primary-menu-mob: #f8f8f8;
  --primary-raiting: #1e1e1e;
  --background: #1e1e1e;
  --background-mob-menu: #050505;
  --border-pag: #9bb537;
  --background-menu: #050505;
  --option-color: #050505;
}

#pagination .move-button, #pagination .prev-button {
  border-color: #0000;
}
/*# sourceMappingURL=tasty-treats.34df27b5.css.map */
