/* Arama bölümü stiller - Search styles */

/* Mobile Responsive Tasarım - Mobile responsive design */
.search-wrapper { /* Search ana div */
  position: relative;
  display: inline-block;
}

.search-label { /* Search etiketi */
  color: var(--primary-color-05);
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  margin-bottom: 8px;
  display: block;
}

.search-input-wrapper { /* Search input divi */
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon { /* Search icon */
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: var(--primary-color-05);
}

.search-icon img { /* Search icon resmi */
  width: 18px;
  height: 18px;
}

.search-input,
.list-time.list-filter,
.list-area.list-filter,
.list-ingred.list-filter { /* Search input ve filtre listeleri ortak stiller */
  color: var(--primary-color-02);
  background-color: inherit;
  border-color: var(--primary-color-02);
}

.search-input { /* Search inputu */
  width: 295px;
  height: auto;
  padding: 14px 18px 14px 48px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color-02);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  box-sizing: border-box;
  border-color: var(--primary-color-02);
  background-color: inherit;
}

@media screen and (max-width: 767px) {
  .search-input {
    width: 335px;
  }
  
  .search-res-container {
    width: 335px;
    margin: 0 auto;
  }

  .image-container {
    display: block;
    margin-bottom: 40px;
  }
}

/* Tablet Responsive Tasarım - Tablet responsive design */
@media screen and (min-width: 768px) {
  .search-res-container {
    width: 496px;
    min-height: 985px;
  }
  
  .image-container {
    min-height: 844px;
    margin-bottom: 64px;
  }
}

/* Desktop Responsive Tasarım - Desktop responsive design */
@media screen and (min-width: 1280px) {
  .search-res-container {
    width: 782px;
    min-height: 728px;
  }
  
  .image-container {
    min-height: 908px;
    row-gap: 32px;
  }
}