<section>
    <h2 style="display: none">Favorites</h2>
    <div id="favorites-container" class="container">
        <div class="favorite-categories">
            <button class="button-fav all-btn onActive" name="all">
                All categories
            </button>
        </div>
        <ul id="image-container" class="favorite-list"></ul>
        <div id="pagination" class="tui-pagination"></div>
        <div class="empty-storage is-hidden">
            <svg class="cook-hat" width="68" height="58">
                <use href="/src/images/sprite.svg#cook-hat" use />
            </svg>
            <p class=" empty-storage-txt">
                It appears that you haven't added any recipes to your favorites yet. To
                get started, you can add recipes that you like to your favorites for
                easier access in the future.
            </p>
        </div>
    </div>

</section>



<!-- Eklenebilir -->
<!-- Hero section will be loaded here dynamically
<div id="hero-container"></div>

<-- Favorite recipe cards will be inserted here -->
<!-- <div id="content-container" class="fav-list-wrapper"></div> -->

<!-- CSS and JavaScript Files -->
<!-- <link rel="stylesheet" href="/src/css/layout/fav-hero.css">
<link rel="stylesheet" href="/src/css/layout/fav-page-list.css">
<script src="/src/js/utilities/fav-list.js" defer></script> --> 
